<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{% block title %}Organizadores plásticos para o lar{% endblock %}</title>

	<link rel="stylesheet" href="media/css/style.css" type="text/css" />
    {% block style %}{% endblock %}
	<script type="text/javascript" src="media/js/jquery-1.4.2.min.js"></script>
    {% block script %}
	<script type="text/javascript" src="media/js/script.js"></script>
    {% endblock %}
</head>

<body>

<div class="header">
    <img src="media/images/newlogo.png" border="0"/>
</div>

<div id="menu">
  <div id="items">
      <div id="item"><a href="/">Home</a></div>
      <div id="item"><a href="/produtos">Produtos</a></div>
      <div id="item"><a href="/blog">Blog</a></div>
      <div id="item"><a href="/sobre">Sobre nós</a></div>
      <div id="item"><a href="/contato">Contato</a></div>
  </div>
</div>

<div id="content">

    {% block content %}

    <div id="highlight-slide" class="rounded-corners highlight-border">

	        <div id="mover">

				<div id="slide-1" class="slide">
					<h1>Organizadores plásticos<br/>para o lar</h1>
					<h2>Ache aqui o ideal organizador plástico para sua casa. Donec gravida posuere arcu. Nulla facilisi. Phasellus imperdiet. Vestibulum at metus. Integer euismod. Nullam placerat rhoncus sapien. Ut euismod. Praesent libero.</h2>
                    <a href="#" class="btn-more rounded-corners-button">saiba mais</a>
					<a href="#"><img src="media/images/dsc_0016.jpg" width="450" height="299" alt="saiba mais" /></a>
				</div>

				<div id="slide-2" class="slide">
					<div class="head-slide"></div>
					<p></p>
                    <a href="#" class="btn-more rounded-corners-button">saiba mais</a>
					<a href="#"><img src="media/images/1x1.gif" width="450" height="299" alt="saiba mais" /></a>
				</div>
				
				<div id="slide-3" class="slide">
					<div class="head-slide"></div>
					<p></p>
                    <a href="#" class="btn-more rounded-corners-button">saiba mais</a>
					<a href="#"><img src="media/images/1x1.gif" width="450" height="299" alt="saiba mais" /></a>
				</div>
				
				<div id="slide-4" class="slide">
					<div class="head-slide"></div>
					<p></p>
                    <a href="#" class="btn-more rounded-corners-button">saiba mais</a>
					<a href="#"><img src="media/images/1x1.gif" width="450" height="299" alt="saiba mais" /></a>
				</div>

				<div id="slide-5" class="slide">
					<div class="head-slide"></div>
					<p></p>
                    <a href="#" class="btn-more rounded-corners-button">saiba mais</a>
					<a href="#"><img src="media/images/1x1.gif" width="450" height="299" alt="saiba mais" /></a>
				</div>

	        </div>

    </div>

    <div id="highlight-vertical-1" class="rounded-corners highlight-vertical highlight-border">
        <h3 id="highlight-title"></h3>
        <div id="line"></div>
        <a href="#" id="highlight-link">
            <img src="media/images/1x1.gif" width="180" height="120" id="highlight-image" />
            <p id="highlight-content"></p>
        </a>
    </div>

    <div id="highlight-vertical-2" class="rounded-corners highlight-vertical highlight-border">
        <h3 id="highlight-title"></h3>
        <div id="line"></div>
        <a href="#" id="highlight-link">
            <img src="media/images/1x1.gif" width="180" height="120" id="highlight-image" />
            <p id="highlight-content"></p>
        </a>
    </div>

    <div id="highlight-vertical-3" class="rounded-corners highlight-vertical highlight-border">
        <h3 id="highlight-title"></h3>
        <div id="line"></div>
        <a href="#" id="highlight-link">
            <img src="media/images/1x1.gif" width="180" height="120" id="highlight-image" />
            <p id="highlight-content"></p>
        </a>
    </div>

    <div id="highlight-horizontal" class="rounded-corners highlight-horizontal highlight-border">
        <h3>Produtos mais vendidos</h3>
        <div id="line"></div>
        <div id="products-mover">

            <div id="products-slide-1" class="products-slide">
                <a href="#" id="highlight-link">
                    <img src="media/images/1x1.gif" width="280" height="125" id="highlight-image" />
                </a>
            </div>
            <div id="products-slide-2" class="products-slide">
                <a href="#" id="highlight-link">
                    <img src="media/images/1x1.gif" width="280" height="125" id="highlight-image" />
                </a>
            </div>
            <div id="products-slide-3" class="products-slide">
                <a href="#" id="highlight-link">
                    <img src="media/images/1x1.gif" width="280" height="125" id="highlight-image" />
                </a>
            </div>

        </div>
        <div id="products-slide-controls">
            <a href="javascript:void(0);" id="prev" class="rounded-corners-button">anterior</a>
            <a href="javascript:void(0);" id="next" class="rounded-corners-button">próximo</a>
        </div>
    </div>

    <div id="highlight-blog" class="rounded-corners highlight-blog highlight-border">
        <a href="/blog">
            <h3>Blog</h3>
            <div id="line"></div>
            <p>Sempre uma novidade para você sobre os nossos produtos.</p>
        </a>
    </div>

    <div id="highlight-twitter" class="rounded-corners highlight-twitter highlight-border">
        <a href="http://twitter.com/organizadores" target="_new">
            <img src="media/images/twitter_logo.png" alt="Nos acompanhe no Twitter" width="120" border="0"/>
            <p>Acompanhe também as nossas novidades pelo Twitter.</p>
        </a>
    </div>

    {% endblock %}

</div>

<div class="footer">
    <div>
        <a href="/">Home</a> &nbsp;|&nbsp; <a href="/produtos">Produtos</a> &nbsp;|&nbsp; <a href="/blog">Blog</a> &nbsp;|&nbsp; <a href="/sobre">Sobre nós &nbsp;|&nbsp; <a href="/contato">Contato<a/>
        &nbsp;&nbsp;&nbsp; &copy; Copyright 2010. All rights reserved.
    </div>
</div>

<script type="text/javascript">
// TODO Uncomment it when it's ready
//var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
//document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
//try {
//    var pageTracker = _gat._getTracker("UA-6957324-2");
//    pageTracker._trackPageview();
//} catch(err) {}
</script>

</body>
</html>
