{% extends "base.html" %}

{% block title %}Organizadores plásticos para o lar - Sobre{% endblock %}

{% block style %}
	<link rel="stylesheet" href="media/css/about.css" type="text/css" />
{% endblock %}

{% block content %}

<div id="about" class="rounded-corners highlight-border">
    <div id="about-content">
        <p>Loja Online de Organizadores plásticos para o lar.</p>
        <p>Trabalhamos com capas para terno, capas para vestido, sacos para sapato, porta edredom e muito mais.</p>
        <p>Nossas vendas são realizadas apenas pela internet, telefone e email. Não possuímos loja física.</p>
        <p>Não fazemos entregas em mãos.</p>
        <p>Caso deseje personalizar o seu produto entre em contato.</p>
        <p>Enviamos para todo o Brasil.</p>
        <p>Ache aqui o ideal Organizador plástico para o seu lar.</p>
        <p>Para comprar:</p>
        <ul>
        <li>Tel.: (21) 3717-5959</li>
        <li>Loja Online: <a href="http://eshops.mercadolivre.com.br/capaseorganizadores/" target="_blank">http://eshops.mercadolivre.com.br/capaseorganizadores/</a></li>
        <li>Email: <a href="mailto:contato@organizadores.com.br">contato@organizadores.com.br</a></li>
        </ul>
    </div>
</div>

{% endblock %}

